html

{

	/*font-family: Hind, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

	font-family: "Slabo 13px", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/

	font-family: 'Oswald', sans-serif;

	color: #58585a;

	letter-spacing: 1px;

	font-size:16px;

}



body

{

	background-image: url(../images2/stardust.png);

}



span

{

	display: inline-block;

}



h1

{

	margin:0;

	padding:0;

	position: relative;

	font-size: 50px;

	line-height:50px;

	text-shadow: 2px 2px 2px #333;

}



h2

{

	margin:0;

	line-height: 1em;

	color: #2B6F9E;

}



h3

{

	display:inline;

}



input

{

	width: 262px;

    height: 26px;

    font-size: 20px;

    padding: 4px;

}



a

{

	color:#2B6F9E;

	font-weight:bold;

	text-decoration:none;

}



a:hover

{

	text-decoration:underline;

}



/*

h1 a

{

	text-decoration:none;

}

h1 a:link,

h1 a:visited,

h1 a:hover,

h1 a:active

{

	position: absolute;

	top: 0; z-index: 2;

	color: #0965f2;

	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

  }

h1:after

{

	content: "Source Engineering Inc";

	color: #000;

	text-shadow: 3px 3px 1px #600;

 }

 */



#content

{

	position: relative;

	margin: 0 auto;

	width: 1160px;

	padding: 20px;

	background-color: #fff;

	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);

	border-radius: 20px;

}



#top

{

	padding-bottom: 20px;

}



#bottom

{

	background-color: #7089aa;

	height: 100px;

	border-top: 3px solid #58585a;

	margin: 0 -20px -20px -20px;

	padding-bottom: 20px;

	border-bottom-right-radius: 20px;

	border-bottom-left-radius: 20px;

}



#menu

{

	margin: 10px 0px;

	width: 100%;

	overflow: auto;

}



#menu ul

{

	margin: 0px;

	margin-left: -40px;

	list-style: none;

}



#menu ul li

{

	float: left;

	margin: 0px;

	padding: 0px 20px 0px 20px;

	width: 152px;

	height:30px;

	text-align: center;

	font-weight: bold;

}



#main

{

	width: 100%;

}



#logo

{

	float:left;

}



#addr

{

	float:right;

}



#banner

{

	position: relative;

	width: calc(100% + 40px);

	margin-left: -20px;

	border-top: 3px solid #58585a;

	border-bottom: 3px solid #58585a;

}



#banner span

{

	font-size:30px;

	padding: 58px 260px 0px 50px;

}



#banner img

{

	position: absolute;

	top:0px;

	right:0px;

}



#feature

{

	border-bottom: 3px solid #58585a;

	padding-bottom:20px;

	background-color: #7089aa;

	margin-left: -20px;

	margin-top: -20px;

}



#videos

{

	float:left;

	border-left: 3px solid #58585a;

	padding-left:20px;

}



#news

{

	height: 316px;

	overflow-y: scroll;

}



#news p

{

	margin:5px 0 0 0;

}



#contact_form

{

	margin-top: 6px;

}



#msg

{

    height: 149px;

    width: 546px;

    font-size: 20px;

    padding: 4px;

	vertical-align: bottom;

	margin-top: 2px;

}



#send

{

	display: inline-block;

	background-color: #2B6F9E;

	padding: 3px;

	margin-right: 16px;

	cursor: pointer;

	color: #fff;

	width: 120px;

	text-align: center;

	float: right;

}



.page

{

	margin:20px 0;

}



.product_container

{

	width: 270px;

	padding: 0 58px 40px 58px;

	float: left;

	text-align: center;

}



.product

{

	height: 260px;

	width: 270px;

	position: relative;

	display: block;

	background-color: #7089aa;

}

.product:hover

{

	background-color: transparent;

}

.product img

{

    position: absolute;  

    top: 0;  

    bottom: 0;  

    left: 0;  

    right: 0;  

    margin: auto;

}



.news_date

{

	width: 120px;

	font-size: .8em;

	line-height: 2em;

	vertical-align: top;

	letter-spacing: 0;

}



.testimonial

{

	float:left;

	padding: 0 90px;

}



.shadowed

{

	-webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.6);

	-moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.6);

	box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.6);

}



.vertical_middle

{

	display: inline-block;

	height: 100%;

	vertical-align: middle;

}



.clearer

{

	clear: both;

	height:0;

	width:0;

	margin:0;

	padding:0;

}



#videos_container iframe {

	float:left;

	margin:10px;

}





/* not in use */

.flexcroll

{

    scrollbar-face-color: #367CD2;

    scrollbar-shadow-color: #FFFFFF;

    scrollbar-highlight-color: #FFFFFF;

    scrollbar-3dlight-color: #FFFFFF;

    scrollbar-darkshadow-color: #FFFFFF;

    scrollbar-track-color: #FFFFFF;

    scrollbar-arrow-color: #FFFFFF;

}



/* Let's get this party started */

.flexcroll::-webkit-scrollbar {

    width: 12px;

}

 

/* Track */

.flexcroll::-webkit-scrollbar-track {

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 

    -webkit-border-radius: 10px;

    border-radius: 10px;

}

 

/* Handle */

.flexcroll::-webkit-scrollbar-thumb {

    -webkit-border-radius: 10px;

    border-radius: 10px;

    background: rgba(255,0,0,0.8); 

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 

}